{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Paciente{% endblock%}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
<script src="{% static 'js/javascript.js' %}"></script>
{% endblock%}


{% block 'body' %}
<div class="container-sm ">

    <div class="p-4">
        <h2 class="mt-10 p-2 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Registrar Paciente
        </h2>
        <hr>
    </div>


    <form class="row g-3 needs-validation p-4" action="{% url 'cadastrar_paciente' %}" method="POST">
        {% csrf_token %}

        <h4>Dados Pessoais</h4>
        <div class="col-md-2">
            <label for="validationCustom01" class="form-label">Nome: </label>
            <input type="text" class="form-control" name="nome" required>
            
        </div>
        <div class="col-md-2">
            <label for="validationCustom02" class="form-label">Sobrenome: </label>
            <input type="text" class="form-control" name="sobrenome" required>
            
        </div>
        <div class="col-md-3">
            <label for="validationCustomUsername" class="form-label">CPF: </label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" maxlength="11" name="cpf" required>
                
            </div>
        </div>

        <div class="col-md-2">
            <label for="validationCustomUsername" class="form-label">Data Nascimento</label>
            <div class="input-group has-validation">
                <input type="date" class="form-control" maxlength="11" name="datanasc">
            </div>
        </div>
        <h4>Dados de Contato</h4>
        <div class="col-md-8">
            <label for="validationCustom01" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" required>
            
        </div>

        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Telefone</label>
            <input type="tel" class="form-control" name="telefone">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <h4>Endereço</h4>
        <div class="col-md-2">
            <label for="validationCustom05" class="form-label">CEP: </label>
            <input type="text" class="form-control" name="cep" id="cep" required>
            <div class="invalid-feedback">
                Por favor, digite o CEP correto
            </div>
        </div>

        <div class="col-md-2">
            <label for="validationCustom05" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="rua" >
        </div>

        <div class="col-md-1">
            <label for="validationCustom05" class="form-label">Numero: </label>
            <input type="text" class="form-control" name="num">
        </div>

        <div class="col-md-2">
            <label for="validationCustom05" class="form-label">Complemento: </label>
            <input type="text" class="form-control" name="complemento" >
        </div>

        <div class="col-md-2">
            <label for="validationCustom03" class="form-label">
                Bairro: </label>
            <input type="text" class="form-control" id="bairro">
            
        </div>

        <div class="col-md-2">
            <label for="validationCustom03" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade">
            
        </div>
        <div class="col-md-1">
            <label for="validationCustom04" class="form-label">Estado</label>
            <input type="text" class="form-control" id="uf">
            
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>


    
</div>

{% endblock %}
