{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Agendamento{% endblock%}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block 'body' %}
<div class="container-sm ">

    <div class="p-4">
        <h2 class="mt-10 p-2 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Agendar Consulta
        </h2>
        <hr>
    </div>

    <div class="row">

        <div class="col">
            <h4>Dados do Paciente</h4>

            
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por Nome"
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-success" type="button" id="button-addon1">Buscar</button>
                    </div>
                    <label class="form-label">Ou</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por CPF"
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-success" type="button" id="button-addon1">Buscar</button>
                    </div>
                </div>
                <br>
            <h4>Consulta</h4>



            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Especialidade </option>
                        
                        {% for especialidades in especialidades %}
                        <option value="{{especialidades.nome}}">{{especialidades.nome}}</option>
                        {% endfor %}
                    </select>

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        {% for medico in medico %}
                        <option value="{{medico.nome}}">{{medico.nome}}</option>
                        {% endfor %}
                    </select>

                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
        <div class="col">
            <h4>Especialidade cadastradas</h4>
            <ul class="list-group p-4">
                {% for itens in especialidades %}
                <li class="list-group-item">{{itens.nome}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>

{% endblock %}