{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Autenticação{% endblock%}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block 'body' %}
<div class="container-sm ">
    <br>

  <div>
    <h2 class="mt-10 p-2 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Autenticação
    </h2>
    <hr>
  </div>

  <br>
  <div class="container text-center">
    <img class="mx-auto h-25 w-auto text-center" src="{% static 'img/authentication01.svg' %}" alt="Your Company">
  </div>

  <br>
  <form class="row needs-validation p-4 justify-content-center" novalidate>
    <br>
    <div class="mb-3 col-md-3">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" maxlength="4"
        placeholder="Code number">
    </div>
   
    <div class="mb-3 col-md-2">
      <input type="button" class="btn btn-info form-control" value="Enviar">
    </div>

  </form>

  <p class="mt-10 text-center text-sm text-gray-500">
    Codigo enviado para o email ...
  </p>
</div>

{% endblock %}