{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Login{% endblock%}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block 'body' %}
<div class="container-sm ">
  <br>
  <div>
    <h2 class="mt-10 p-2 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Sign in to your account
    </h2>
    <hr>
  </div>

  <br>
  <div class="container text-center">
    <img class="mx-auto h-25 w-auto text-center" src="{% static 'img/login.svg' %}" alt="Your Company">
  </div>
  <br>
  <form class="row needs-validation p-4 justify-content-center" novalidate>
    <div class="mb-3 col-md-4">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Email address">
    </div>
    <div class="mb-3 col-md-3">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="mb-3 col-md-2">
      <input type="button" class="btn btn-info form-control" value="Enter">
    </div>

  </form>

  <p class="mt-10 text-center text-sm text-gray-500">
    Not a member?
    <a href="{% url 'register' %}" class="font-semibold leading-6 text-indigo-200 hover:text-indigo-400">Register</a>
  </p>
</div>

{% endblock %}