{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Register{% endblock%}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block 'body' %}
<div class="container-sm ">
    <br>

    <div class="p-4">
        <h2 class="mt-10 p-2 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Register account
        </h2>
        <hr>
    </div>


    <form class="row g-3 needs-validation p-4" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Password</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a Password.
                </div>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text-white">
                    Must be 8-20 characters long.
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-auto">
                <label for="inputPassword6" class="form-label">Repeat Password</label>
            </div>
            <div class="col-auto">
                <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">
            </div>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>

    <div class="container text-center">
        <img class="mx-auto h-50 w-auto" src="{% static 'img/register03.svg' %}" alt="Your Company">
      </div>

    
</div>

{% endblock %}